<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candidates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">

</head>

<body>
    <header class="bg-primary">
        <nav>
            <div class="container-fluid">
                <div class="row justify-content-between align-items-baseline">
                    <div class="col col-12 col-md-4 col-lg-3  text-center">
                        <h4 class="mt-3 mb-3">Interview Reports</h4>
                    </div>
                    <div class="col col-12 col-md-4 col-lg-3  text-center">
                        <a class="mt-3 mb-3 btn btn-secondary" href="">Candidates</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="row justify-content-between mt-3">
            <div class="col col-12 col-md-4 col-lg-3">
                <p class="my-1 text-center text-md-left">Candidates</p>
            </div>
            <div class="col col-12 col-md-4 col-lg-3">
                <input class="form-control my-1" type="text" placeholder="Search" onkeyup="filter(this)">
            </div>
        </div>

        <div class="row" id="wrapper"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="../js/candidates.js"></script>

</body>

</html>